.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.row > div {
display: block;
width: 60px;
height: 60px;
font-weight: bold;
line-height: 60px;
font-size: 2.5em;
margin: 4px;
text-align: center;
border: 1px solid wheat;
text-transform: uppercase;
}

.row > div.green {
  --background: green;
  --border-color: green;
  animation: flip 0.5s ease forwards;
}

.row > div.gray {
  --background: gray;
  --border-color: gray;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: gold;
  --border-color: gold;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2){
  animation-delay: 0.2s;
}
.row > div:nth-child(3){
  animation-delay: 0.4s;
}
.row > div:nth-child(4){
  animation-delay: 0.6s;
}
.row > div:nth-child(5){
  animation-delay: 0.8s;
}

.row > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  45% {
    transform: rotateX(90deg);
  }

  55% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
    background: var(--background);
    background-color: var(--border-color);
    color: antiquewhite;
  }
}

@keyframes bounce {
  0%{
    transform: scale(1);
    border-color: beige;
  }
  50%{
    transform: scale(1.2);
    border-color: beige;

  }
  100% {
    transform: scale(1);
    border-color: #282c34;
  }
}